/******** BASE **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: teal;
}

h1 {
    text-align: center;
    margin: 50px;
    color: white;
    font-size: 2rem;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.box {
    width: calc(100% / 10);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: solid 1px;

}